<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Calculator</title>
</head>

<body>
    <h1>Calculator</h1>
    <form action="/result" method="POST">
        <input type="text" id="expression" name="expression" placeholder="Enter Expression" required><br><br>
        {% for i in range(1,10) %}
        <button type="button" id="b{{i}}" value="{{i}}">{{i}}</button>
            {% if i%3==0 %}
                <br>
            {% endif %}
        {% endfor %}
        <button type="button" id="b0" value="0">0</button>
        <button type="button" id="plus" value="+">+</button>
        <button type="button" id="minus" value="-">-</button><br>
        <button type="button" id="mul" value="*">*</button>
        <button type="button" id="div" value="/">/</button>
        <button type="submit">=</button>
    </form>
    <script>
        let box = document.getElementById("expression");
        for (let i = 1; i < 10; i++) {
            document.getElementById("b" + i).onclick = function (event) {
                console.log(event.target.value);
                box.value += event.target.value;
            };
        }
        document.getElementById("b0").onclick = function (event) {
            console.log(event.target.value);
            box.value += event.target.value;
        };
        document.getElementById("plus").onclick = function (event) {
            console.log(event.target.value);
            box.value += event.target.value;
        };
        document.getElementById("minus").onclick = function (event) {
            console.log(event.target.value);
            box.value += event.target.value;
        };
        document.getElementById("mul").onclick = function (event) {
            console.log(event.target.value);
            box.value += event.target.value;
        };
        document.getElementById("div").onclick = function (event) {
            console.log(event.target.value);
            box.value += event.target.value;
        };
    </script>
    {% if res %}
    <script>
        let box1 = document.getElementById("expression");
        box1.value = "{{res}}";
    </script>
    {% endif %}
</body>

</html>